In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dataset/Test Data.csv
/kaggle/input/dataset/Training Data.csv
/kaggle/input/dataset/Sample Prediction Dataset.csv

In [5]:
train_data=pd.read_csv("../input/dataset/Training Data.csv")
test_data=pd.read_csv("../input/dataset/Test Data.csv")

In [6]:
train_data.shape

(252000, 13)

In [7]:
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [8]:
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]
train_data["married"]=pd.factorize(train_data.married)[0]
train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]

In [9]:
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,0,0,0,0,0,0,3,13,0
1,2,7574516,40,10,0,0,0,1,1,1,9,13,0
2,3,3991815,66,4,1,0,0,2,2,2,4,10,0
3,4,6256451,41,2,0,0,1,1,3,3,2,12,1
4,5,5768871,47,11,0,0,0,3,4,4,3,14,1

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import *

In [11]:
y_labels=train_data["risk_flag"]
x_features=train_data.drop(["risk_flag"],axis=1)

In [12]:
def model_fit(x,y):
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    model = LogisticRegression().fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(accuracy_score(y_test, y_pred))

In [13]:
model_fit(x_features,y_labels)

0.8759325396825397

In [20]:

from imblearn.under_sampling import TomekLinks

In [34]:
t1=TomekLinks(sampling_strategy='majority')

In [35]:
x_t,y_t=t1.fit_resample(x_features,y_labels)

In [36]:
model_fit(x_t,y_t)

0.8682201772613545